.title {
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px; 
}


.search {
  display: flex;
  justify-content: center;
  /* Horizontally center the items */
  align-items: center;
  /* Vertically center the items */
  margin-top: 20px;
  /* Adjust the margin as needed */
  margin-bottom: 20px;
}

#movie_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Distribute items evenly along the main axis */
}

.movie-card {
  width: calc(25% - 20px);
  /* Adjust the width of each card */
  height: 800px;
  /* Allow the height to adjust based on content */
  padding: 10px;
  /* Adjust the padding within each card */
  /* Other styles for movie cards */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.movie-poster {
  width: 100%;
  height: auto;
  margin-bottom: 0x;
}

.overview{
  font-size: 15px;
}

.vote-average{
  margin-bottom: 50px;
}